{% extends "base.html" %}
{% load static %}

{% block content %}
<html lang="en">
<head>
    <div class="gap"></div>
        <div>
            <h2><center>Meet The Team</center></h2>
            <br>
            <p><center>Below are some awesome people who help with building the TESLA project. </center></p>
        </div> 

            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div >
                        <div>
                            <h5><center>Weitong Feng: Front-end designer, editor</center></h5>
                            <center>
                                <a class="btn btn-social btn-github" href="https://github.com/harry08010"><i class="fa fa-github-square"></i></a> 
                                <a class="btn btn-social btn-envelope" href="mailto:harry08010@tamu.edu" target="_top"><i class="fa fa-envelope"></i></a> 
                                <a class="btn btn-social btn-personal-web" href="#"><i class="fa fa-address-card"></i></a> 
                                <a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/weitongfeng/"><i class="fa fa-linkedin"></i></a>
                            </center>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div >
                        <div>
                            <h5><center>Bowen Lan: Project manager, deep learning master</center></h5>
                            <center>
                                <a class="btn btn-social btn-github" href="https://github.com/lanbowen23"><i class="fa fa-github-square"></i></a> 
                                <a class="btn btn-social btn-envelope" href="mailto:lanbowen23@tamu.edu" target="_top"><i class="fa fa-envelope"></i></a> 
                                <a class="btn btn-social btn-personal-web" href="#"><i class="fa fa-address-card"></i></a> 
                                <a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/%E5%8D%9A%E6%96%87-%E5%85%B0-9a58a5159/"><i class="fa fa-linkedin"></i></a>
                            </center>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div >
                        <div>
                            <h5><center>Rose Lin: Data scientist</center></h5>
                            <center>
                                <a class="btn btn-social btn-github" href="https://github.tamu.edu/rlin225"><i class="fa fa-github-square"></i></a> 
                                <a class="btn btn-social btn-envelope" href="mailto:rlin225@tamu.edu" target="_top"><i class="fa fa-envelope"></i></a> 
                                <a class="btn btn-social btn-personal-web" href="http://people.tamu.edu/~rlin225"><i class="fa fa-address-card"></i></a> 
                                <a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/rosielam816/"><i class="fa fa-linkedin"></i></a>
                            </center>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div >
                        <div>
                            <h5><center>Yue Yang: Full stack engineer</center></h5>
                            <center>
                                <a class="btn btn-social btn-github" href="https://github.com/letheyue"><i class="fa fa-github-square"></i></a> 
                                <a class="btn btn-social btn-envelope" href="mailto:letheyue@tamu.edu" target="_top"><i class="fa fa-envelope"></i></a> 
                                <a class="btn btn-social btn-personal-web" href="#"><i class="fa fa-address-card"></i></a> 
                                <a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/yue-yang-830759138/"><i class="fa fa-linkedin"></i></a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>  

            <br>
            <br>

            <div>
                <div class="col-md-12 col-xs">
                    <div>
                        <div>
                            <h5><center>James Caverlee: Principal investigator</center></h5>
                            <center>
                                <a class="btn btn-social btn-envelope" href="mailto:caverlee@tamu.edu" target="_top"><i class="fa fa-envelope"></i></a> 
                                <a class="btn btn-social btn-personal-web" href="http://faculty.cse.tamu.edu/caverlee/"><i class="fa fa-address-card"></i></a> 
                                <a class="btn btn-social btn-google-scholar" href="https://scholar.google.com/citations?user=LB1dq_sAAAAJ&hl=en"><i class="fa fa-google-plus"></i></a>
                            </center>
                        </div>
                    </div>
                </div>
            </div> 

            <br>

            <div>
                <center>Special thanks to: Majid Alfifi, PhD at InfoLab</center>
                <center> 
                    <a class="btn btn-social btn-personal-web" href="http://students.cs.tamu.edu/alfifima/"><i class="fa fa-address-card"></i></a> 
                </center>

            </div>   
        </section>
    </div>

    <div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; 2018 <a target="_blank" href="https://tesla-twitter-spammer-learning.herokuapp.com/" title="We are Tesla team!">Tesla-twitter-spammer-learning</a>. All Rights Reserved.
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

{% endblock%}